.pos{
	font-size: 15px;
	margin-left: 10px;
}
#searchbar{
	margin-top: 20px;
	height: 50px;
	margin-left: 20%;
	width: 100%;
}
.searchISBN{
	font-size: 30px;
	float: left;

}
#txtKey{
	width: 500px;
	height: 28px;
	float: left;
	margin-top: 5px;
	font-size: 15px;
}
#btnOK{
	width: 100px;
	height: 28px;
	float: left;
	margin-top: 5px;
	margin-left: 40px;
	font-size: 15px;
	border-radius: 5px;
	background-color:#169bd5 ;
	color: #FFFFFF;
}
#maingrid4{
	float: left;
	margin-top: 30px;
}
.btnList{
	width: 100%;
	margin-left: 1%;
}